@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
:root {
  --light-gray: #f1f1f1;
  --dark-grey: #253340;
  --transparent-dark-grey: #25334083;
  --yellow-color: #d8bf33;
  --dark-text: #383b42;
  --dark-blue-transparent: #05184473;
  --dark-blue: #051844;
  --light-blue: #04bfbf;
  --dark-aqua: #0f808c;
  --link-color: rgb(250, 242, 134);
  --hand-written: "Dancing Script", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: var(--hand-written);
}

.nav-bg {
  background-color: var(--transparent-dark-grey);
}

.navbar-toggler {
  color: var(--light-gray);
  text-decoration: none;
}

.navbar-brand {
  border: 2px outset #fff;
  padding: 0 10px;
  font-size: 2rem;
}

.navbar-toggler-icon {
  color: var(--light-gray);
  text-decoration: none;
  outline: none !important;
}

.navbar-nav .nav-item .nav-link {
  color: var(--light-gray);
  font-size: 1.1rem;
  letter-spacing: 2px;
  padding: 0 15px;
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--light-blue);
}

/* ====== HERO ====== */

#hero .jumbotron {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(/img/hero1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 0;
  margin: 0;
  border-radius: 0;
}
.jumbotron h1 {
  color: var(--light-gray);
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 2px;
}
.jumbotron p {
  color: var(--light-gray);
  text-transform: capitalize;
  font-size: 1.8rem;
  margin: 20px;
}

.heroSpan {
  color: var(--dark-grey);
}
.jumbotron button {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 300;
  background-color: transparent;
  outline: none;
  padding: 5px 20px;
  border: 2px solid var(--dark-aqua);
  color: var(--dark-aqua);
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}
.jumbotron button:hover {
  font-size: 1.3rem;
  font-weight: 500;
  background-color: var(--light-gray);
  border: 3px solid var(--dark-aqua);
  color: var(--dark-aqua);
  transform: translateY(3px);
  -webkit-box-shadow: -2px 2px 4px 0px rgba(6, 102, 100, 0.73);
  box-shadow: -2px 2px 4px 0px rgba(6, 102, 100, 0.73);
}
.jumbotron button a {
  text-decoration: none;
  color: var(--dark-aqua);
}

/* ====== END OF HERO ====== */

/* ====== INTRO ====== */

.intro .jumbotron {
  background-color: var(--light-gray);
  margin: 0;
  padding: 0;
  border-radius: 0;
  overflow: hidden;
}
.intro .jumbotron .intro {
  padding: 80px;
}
.cursive-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 25vh;
}
.cursive-title h2 {
  color: var(--dark-aqua);
  text-transform: capitalize;
  font-family: var(--hand-written);
  font-size: 3rem;
}

h2.main-title {
  margin-bottom: 50px;
  font-size: 2rem;
  color: var(--dark-aqua);
}

.intro .jumbotron p {
  margin-bottom: 30px;
  font-size: 1.1rem;
  color: var(--dark-grey);
  text-transform: none;
  text-align: left;
}

.intro .jumbotron .option {
  text-align: left;
  padding-left: 60px;
  color: var(--dark-grey);
}

.option i {
  font-size: 1.3rem;
  color: var(--light-blue);
  padding-right: 15px;
}

.intro .jumbotron .image {
  background-image: url(/img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.freedom {
  width: 100%;
  height: 100%;
  background-image: url(/img/freedom.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  #intro .jumbotron .image {
    height: 200px;
  }
}

/* END OF INTRO */

/* RESULTADOS SECTION  */

#resultados .box {
  position: relative;
  margin: 40px 0;
  padding: 0 40px;
}
#resultados .fas {
  position: absolute;
  color: rgba(3, 224, 224, 0.13);
  font-size: 8rem;
  transform: rotate(-20deg);
  top: -30px;
  left: 30px;
}
#resultados .box p {
  color: var(--dark-grey);
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: capitalize;
}

/*  END OF RESULTADOS SECTION */

/* ACHIEVE SECTION */

/* END OF ACHIEVE SECTION */

/* ABOUT ME */

#about {
  width: 100%;
  height: auto;
  padding: 30px 100px;
}
#about .img-container {
  width: 320px;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .img-container .img-circle {
  width: 300px;
  height: 300px;
  border: 8px solid var(--light-gray);
  border-radius: 50%;
  position: absolute;
  top: 170px;
  z-index: 2;
}
#about .about-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 0;
}

#about .about-container {
  background-color: var(--light-gray);
  padding: 200px 100px 100px 100px;
  text-align: center;
  border-radius: 5px;
}
#about .about-container h2 {
  color: var(--dark-aqua);
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
}
#about .about-container p {
  text-align: left;
  margin-bottom: 30px;
  font-size: 1.1rem;
  color: var(--dark-grey);
}
.about-container button {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  background-color: transparent;
  outline: none;
  padding: 5px 20px;
  border: 2px solid var(--dark-aqua);
  color: var(--dark-aqua);
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}
.about-container button:hover {
  font-weight: 500;
  background-color: #fff;
  border: 3px solid var(--dark-aqua);
  color: var(--dark-aqua);
  transform: translateY(3px);
  -webkit-box-shadow: 0 0 4px 0 rgba(6, 102, 100, 0.73);
  box-shadow: 0 0 4px 0 rgba(6, 102, 100, 0.73);
}
.about-container button a {
  text-decoration: none;
  color: var(--dark-aqua);
}
@media only screen and (max-width: 767px) {
  #about .img-container .img-circle {
    width: 200px;
    height: 200px;
    border: 8px solid var(--light-gray);
    border-radius: 50%;
    position: absolute;
    top: 220px;
    left: 55%;
    z-index: 2;
  }
  #about .about-container {
    background-color: var(--light-gray);
    padding: 100px 50px 50px 50px;
    text-align: center;
  }
}

/* ====== END OF ABOUT ME ====== */

/* ====== Stories ====== */

.stories {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}
.story-box {
  padding: 15px;
  background: var(--light-gray);
  margin: 30px 0;
  position: relative;
  border-radius: 3px;
}

.story-box h3 {
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  mix-blend-mode: difference;
  margin: 30px 0;
  text-align: center;
}
.story-box p {
  font-size: 1.1rem;
  font-weight: normal;
  color: #fff;
  mix-blend-mode: difference;
}
.read-more a {
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--dark-aqua);
  mix-blend-mode: difference;
  padding-left: 28%;
}
.read-more a i {
  padding-left: 10px;
}

.overlay {
  margin: 20px auto;
  border: none;
  padding: 10px 44px;
  /* font-size: 20px; */
  position: relative;
  /* display: inline-block; */
}
.overlay:before {
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: "";
  /* width: 50%;
  height: 100%; */
  width: 100%;
  height: 25%;
  background: var(--dark-aqua);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px 3px 0 0;
}
.overlay:hover:before {
  background: var(--dark-aqua);
  /* width: 100%; */
  height: 100%;
  border-radius: 3px;
}

/* ====== End of Stories ====== */

/* ====== Finished Project Section ====== */

.finished-projects {
  margin: 100px 0;
}
.project-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}

.project-item .text {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--dark-blue-transparent);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.project-item .text .des {
  color: #fff;
  margin: auto 32px 32px;
}
.project-item .text .des h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}
.project-item .text .des p {
  font-weight: lighter;
  font-size: 1.3rem;
}

@media (min-width: 992px) {
  .project-item {
    max-width: none;
    margin: 0;
  }
  .project-item .text {
    transition: clip-path 0.25s ease-out, background-color 0.7s;
    clip-path: inset(0px);
  }
  .project-item .text .des {
    transition: opacity 0.25s;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
  }
  .project-item img {
    transition: clip-path 0.25s ease-out;
    clip-path: inset(-1px);
  }
  .project-item:hover img {
    clip-path: inset(32px);
  }
  .project-item:hover .text {
    background-color: var(--dark-blue-transparent);
  }
}

/* ====== End Of Finished Project Section ====== */

/* ====== Footer Section ====== */

.footer {
  background: rgb(15, 128, 140);
  background: linear-gradient(
    360deg,
    rgba(15, 128, 140, 0.923406862745098) 0%,
    rgba(4, 191, 191, 0.8449754901960784) 41%,
    rgba(16, 164, 194, 0.48082983193277307) 94%
  );
  padding: 0 0 30px 0;
  color: #000;
  font-size: 15px;
}
.footer .footer-top {
  padding: 60px 0 30px 0;
}
.footer .footer-top .footer-des {
  margin-top: -90px;
  margin-bottom: 15px;
  background: var(--dark-aqua);
  color: var(--light-gray);
  border-top: 4px solid var(--light-blue);
  text-align: center;
  padding: 30px 20px;
}
.footer .footer-top .footer-des h3 {
  font-size: 1.3rem;
  margin: 0 0 2px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: bold;
}
.footer .footer-top .footer-des p {
  font-size: 0.8rem;
  line-height: 24px;
  margin-bottom: 0;
}
.footer .footer-top .social-links a {
  font-size: 1rem;
  display: inline-block;
  background: var(--light-blue);
  color: var(--dark-blue);
  line-height: 1;
  padding: 8px 8px;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  transition: 0.3s;
}
.footer .footer-top .social-links a:hover {
  background: var(--dark-blue);
  color: var(--light-gray);
  text-decoration: none;
}
.footer .footer-top h4 {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  position: relative;
  padding-bottom: 0.6rem;
}
.footer .footer-top .footer-links {
  margin-bottom: 30px;
}
.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #000;
  font-size: 1.2rem;
  line-height: 1;
}
.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
.footer .footer-top .footer-links ul a {
  color: #000;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
}
.footer .footer-top .footer-links ul a:hover {
  color: var(--dark-blue);
}
.footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: 6px 10px;
  position: relative;
  border-radius: 4px;
}
.footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
  border-radius: 4px 0 0 4px;
}
.footer .footer-top .footer-newsletter form input[type="email"]::placeholder {
  text-transform: capitalize;
}
.footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 0 20px;
  background: var(--dark-blue);
  color: var(--light-gray);
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}
.footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: var(--light-blue);
  color: var(--dark-blue);
}

/* ====== End of Footer Section ====== */
